body {
    width: 400px;
    margin: 0 auto;
    padding: 50px;
    text-align: center;
  }
  
  div.elem-group {
    margin: 25px 0;
    text-align: center;
  }
  
  div.elem-group.inlined {
    width: 49%;
    display: inline-block;
    float: center;
    margin-left: 1%;
  }

  
  label {
    display: block;
    font-family: 'Nanum Gothic';
    padding-bottom: 10px;
    font-size: 1.25em;
  }
  
  input, select, textarea {
    border-radius: 2px;
    border: 2px solid #777;
    box-sizing: border-box;
    font-size: 1.25em;
    font-family: 'Nanum Gothic';
    width: 100%;
    padding: 10px;
  }
  
  div.elem-group.inlined input {
    width: 95%;
    display: inline-block;
  }
  
  textarea {
    height: 250px;
  }
  
  hr {
    border: 1px dotted #ccc;
  }
  /* button:hover {
    border: 2px solid black;
  } */
  #btn1 { /*버튼*/
    background-color: #18A86B; /* Green */
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: auto;
    cursor: pointer;
    border-radius: 15px;
    }
  .button1 {width: 50px;}
  
  #btn2 { /*버튼*/
    background-color: #18A86B; /* Green */
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: auto;
    cursor: pointer;
    border-radius: 15px;
    }
  
  .button1 {width: 50px;}

  /* 모바일 768px 미만 */
@media (max-width: 767px) {}
 
/* 태블릿 768px ~ 1024px 사이 */
@media (min-width: 768px) and (max-width: 1024px) {}
 
/* 데스크탑 1024px 이상 */
@media (min-width: 1025px) {}